@page "/"
@using BibliotekarzBlazor.Shared.Components.CascadeComponents


<PageTitle>Home</PageTitle>

<h3>Wybierz opcję</h3>
<input @bind-value="firstOptionValue" type="checkbox"/> Pierwsza opcja

<br/>
<input @bind-value="secondOptionValue" type="checkbox"/> Druga opcja

<br/>

<CascadingValue Name="FirstOption" Value="firstOptionValue">
    <CascadingValue Name="SecondOption" Value="secondOptionValue">
        <FirstLevelComponent/>
    </CascadingValue>
</CascadingValue>

@code
{
    bool firstOptionValue;
    bool secondOptionValue;
}
