@page "/"
@page "/home/{Id:int}/{CosInnego?}"
@using System.Web
@inject NavigationManager navigation;

<PageTitle>Home</PageTitle>

<MyCustomImage Src="assets/images/logo.png" width="128" height="64" />

Odczytany parametr Id = @Id; cosInnego = @CosInnego, cos1 = @cos1.

Licznik = @count

<button class="btn btn-primary" @onclick="IncrementCount">Nav 1</button>
<button class="btn btn-primary" @onclick="NavigateToUrl">Relative</button>
<button class="btn btn-primary" @onclick="NavigateToAbsoluteUrl">Absolute</button>
<button class="btn btn-primary" @onclick="NavigateWithReplaceHistory">Replace history</button>
<NavLink href="/counter">Counter</NavLink>

<Child>
    <ChildContent>
        Wiadomość 1
    </ChildContent>

</Child>
